[Desktop Entry]
Icon=gnucash
Exec=currency-converter
Type=Application
Categories=Office;
Name=Currency Converter
Comment=Current Exchange Rates from European Central Bank
Keywords=currency;exchange;finance;
